---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About Us - Maydan Journal">
	<div class="text-justify">
		<p>
			Maydan is the first Italian journal of Arab, Semitic, and Islamic
			studies directed by PhD candidates, graduates, and undergraduates.
			It was founded in Autumn 2020 by Alessia D’Accardio Berlinguer,
			Antonio Pacifico, Luigi Sausa, and Pietro Menghini. Its main purpose
			is to encourage the production of first research articles by young
			scholars.
		</p>
		<p>
			This platform serves as a continuous training path involving both
			authors and editors, encouraging critical reflection on research and
			the development of skills necessary for the production, editing, and
			dissemination of scientific articles. In this way, Maydan aims to
			support the entry of young scholars into the world of research while
			promoting dialogue and the creation of networks of contacts.
		</p>
		<p>
			Maydan revolves around a broad vision of Arab, Semitic, and Islamic
			worlds that includes the SWANA region (Southwest Asia and North
			Africa), the Sahel, the Caucasus as well as Central and Southeast
			Asia. Maydan also welcomes contributions regarding the connections
			between these geographical areas and Europe, North America, and the
			rest of the world. In this regard, the journal proposes to explore
			the presence and experiences of Arab, Semitic, and Islamic worlds
			beyond regions traditionally characterized as "Arab" or "Muslim",
			while highlightig the internal differences within these contexts. In
			accordance with this critical perspective, Maydan also encourages
			analyses that investigate the links and relationships between these
			areas and other communities as well as the political, economic,
			social, and cultural dynamics that traverse the globalized world.
		</p>
		<p>
			Furthermore, the journal invites critical reflection on the concept
			of Area Studies and the problematization of notions and culturalist
			approaches that reiterate an essentialist and fundamentally colonial
			view of Arab, Semitic, and Islamic worlds. Maydan therefore values
			contributions capable of deconstructing the gaze and methodologies
			of research and elaborating innovative methods and questions.
			Alongside the problematization of restricted and culturalist notions
			often widespread in Area Studies, the journal shows particular
			interest in research approaches that look at the dynamics of
			interconnection and interdependence between different contexts. All
			this is central to Maydan's vision, both to grasp the specificities
			of the worlds, dynamics, and historical moments under scrutiny, and
			to move beyond "exceptionalist" intepretations.Maydan is an annual
			publication. Submitted articles undergo a double-blind peer review
			process and may also involve, when necessary, the assistance of an
			international scientific committee, consisting of professors from
			various disciplines. Accepted languages are Italian, English, and
			French, to favor the journal’s international profile and
			dissemination.
		</p>
		<p>
			Maydan is an annual publication. Submitted articles undergo a
			double-blind peer review process which also involves, when
			necessary, the assistance of an international scientific committee,
			consisting of professors from various disciplines. Accepted
			languages are Italian, English, and French, to favor the
			international profile and dissemination of the journal.
		</p>
		<p>
			The journal accepts contributions from PhD candidates, graduates,
			and undergraduates from foreign and Italian universities.
		</p>
	</div>
</Layout>
