---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Chi Siamo - Rivista Maydan">
	<div class="text-justify">
		<p>
			Maydan is the first Italian journal of studies on Arab, Semitic, and Islamic worlds directed by PhD students, graduates, and undergraduates, founded in autumn 2020 by Alessia D’Accardio Berlinguer, Antonio Pacifico, Luigi Sausa, and Pietro Menghini. Its main purpose is to encourage the production of first research articles by young scholars.
		</p>
		<p>
			This platform stands as a continuous training path involving both authors and editors, encouraging reflection on research and the development of skills necessary for the production, editing, and dissemination of scientific articles. In this way, Maydan aims to support the entry of young scholars into the research world and foster contact and dialogue.
		</p>
		<p>
			Maydan revolves around a broad vision of Arab, Semitic, and Islamic worlds that includes the geographical areas of the Middle East and North Africa, the Sahel, the Caucasus, Central Asia, and Southeast Asia. Maydan also welcomes contributions regarding the connections of these geographical areas with Europe, North America, and the rest of the world. The journal intends to deepen the presence and experiences of Arab, Semitic, and Islamic worlds even outside regions traditionally characterized as “Arab” or “Muslim” and to highlight the internal differences within these worlds. In accordance with this critical perspective, Maydan also welcomes analyses aimed at researching the links and relationships between these areas and other communities and political, economic, social, and cultural dynamics traversing the globalized world.
		</p>
		<p>
			The journal also invites critical reflection on the concept of Area Studies and problematizes notions and approaches that reiterate an essentialist and fundamentally colonial vision of Arab, Semitic, and Islamic worlds. Maydan appreciates proposals capable of deconstructing the gaze and methodologies of research and elaborating original methods and questions. Alongside the analysis and problematization of restricted and culturalist notions often widespread in Area Studies, the journal welcomes with interest research approaches that look at the dynamics of interconnection and interdependence between different contexts. All this is fundamental in Maydan's vision both to grasp the specificities of the worlds, dynamics, and historical moments analyzed within it, and to extract them from an “exceptionalist” definition.
		</p>
		<p>
			Maydan is published annually. Submitted articles are subject to a double-blind peer review process which involves, when necessary, the assistance of an international scientific committee consisting of professors from various disciplines. The accepted languages are Italian, English, and French, to favor the international profile and diffusion of the journal.
		</p>
		<p>
			The journal accepts contributions from PhD students, graduates, and undergraduates from foreign and Italian universities.
		</p>
	</div>
	


	<h2>Redazione</h2>
	<p>La redazione ha sede presso...</p>
</Layout>
