---
import Layout from "../../layouts/Layout.astro";
import { Mail, MapPin } from "lucide-react";
---

<Layout title="Contacts | Maydan Journal">
	<div class="home-grid">
		<div class="home-card">
			<h3>Editorial Office</h3>
			<address>
				<p>
					<MapPin className="inline-icon" size={18} />
					Department of Languages<br />
					Via Verdi, 10<br />
					10124 Turin (TO)<br />
					Italy
				</p>
				<p>
					<Mail className="inline-icon" size={18} />
					<a href="mailto:info@maydan.it">info@maydan.it</a>
				</p>
			</address>
		</div>

		<div class="home-card">
			<h3>Send a message</h3>
			<form>
				<label for="name">
					Name
					<input
						type="text"
						id="name"
						name="name"
						placeholder="Your name"
						required
					/>
				</label>

				<label for="email">
					Email
					<input
						type="email"
						id="email"
						name="email"
						placeholder="Your email"
						required
					/>
				</label>

				<label for="message">
					Message
					<textarea
						id="message"
						name="message"
						placeholder="Write your message here"
						rows="5"
						required></textarea>
				</label>

				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</Layout>
