---
import Layout from "../../../layouts/Layout.astro";
const posts = await Astro.glob("./*.md");

// Sort posts by date descending
posts.sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf(),
);
---

<Layout title="Activities | Maydan Journal">
	<!-- <h1>Activities</h1> -->

	<section class="activities-list">
		{
			posts.map((post) => (
				<article class="activity-card">
					<div class="activity-date">
						{new Date(post.frontmatter.date).toLocaleDateString(
							"en-GB",
							{ year: "numeric", month: "long", day: "numeric" },
						)}
					</div>
					<h2>
						<a href={post.url}>{post.frontmatter.title}</a>
					</h2>
					<p>{post.frontmatter.description}</p>
				</article>
			))
		}
	</section>
</Layout>
