---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Call & Linee Guida | Rivista Maydan">
	<h1>Call & Linee Guida</h1>
	
	<section class="home-card">
		<h2>Call for Papers Aperte</h2>
		<article>
			<header>
				<h3><a href="/call-e-linee-guida/vol-4">Call for Papers Vol. 4 (2025)</a></h3>
			</header>
			<p>Scadenza: 30 Maggio 2025</p>
			<p>
				Si invitano gli studiosi a inviare contributi sul tema della filologia semitica comparata...
			</p>
		</article>
	</section>

	<br />

	<section class="home-card">
		<h2>Linee Guida per gli Autori</h2>
		<p>
			Gli articoli devono essere inviati in formato .doc o .odt e non superare le 40.000 battute...
		</p>
		<p>
			<a href="#" class="btn-outline">Scarica PDF Norme Redazionali</a>
		</p>
	</section>
</Layout>
