---
import Layout from '../../../layouts/Layout.astro';
const posts = await Astro.glob('./*.md');

// Sort posts by date descending
posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<Layout title="Attività | Rivista Maydan">
	<!-- <h1>Attività</h1> -->
	<header class="page-header">
		<p>Seminari, convegni e presentazioni organizzati dalla rivista e dai suoi partner.</p>
	</header>

	<section class="activities-list">
		{posts.map((post) => (
			<article class="activity-card">
				<div class="activity-date">{new Date(post.frontmatter.date).toLocaleDateString('it-IT', { year: 'numeric', month: 'long', day: 'numeric' })}</div>
				<h2><a href={post.url}>{post.frontmatter.title}</a></h2>
				<p>{post.frontmatter.description}</p>
			</article>
		))}
	</section>


</Layout>
